# This is Git's per-user configuration file.
[user]
	name = astwys
	email = astwys@gmail.com
[push]
	default = simple
[credential]
	helper = osxkeychain
[core]
	editor = subl -n -w
[gui]
	recentrepo = /Users/michael/sandbox/Garlic
[alias]
	s = status
	summary = status -u -s
	save = commit -am
	graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %cr) %Cred%d' --date-order
	what = show -w
	go = checkout
	newbranch = checkout -b
	branches = branch -a